#!/bin/sh
# {{ ansible_managed }}
## backup script for icinga2 & web

export PATH=/usr/sbin:/usr/bin:/sbin:/bin
umask 022

date=`date +%Y-%m-%d`
dest={{ backupdir }}
f=$dest/backup-icinga2-$date.tar.gz

dirs="/etc/icinga2 /etc/icingaweb2 \
    /etc/apache2 \
    /var/lib/icinga2 \
    /var/log/icinga2 \
    /usr/local/nagvis/etc \
    "

{% if  icinga2_chart_module is defined and icinga2_chart_module == 'pnp4nagios' %}
dirs="$dirs /etc/pnp4nagios /var/lib/pnp4nagios"
{% else %}
#dirs="$dirs /etc/pnp4nagios /var/lib/pnp4nagios"
{% endif %}

{% if icinga2_chart_module is defined and icinga2_chart_module == 'graphite' %}
dirs="$dirs /etc/graphite /var/lib/graphite"

{% if icinga2_graphite_backend is defined and icinga2_graphite_backend == 'postgresql' %}
sudo -u postgres pg_dumpall -c > $dest/pgdumpall.sql
{% endif %}

{% else %}
#dirs="$dirs /etc/graphite /var/lib/graphite"
#sudo -u postgres pg_dumpall | gzip > $dest/pgdumpall.gz
{% endif %}

## icingaweb2 backend
mysqldump --opt --all-databases > $dest/mysqldumpall.sql

{% if icinga2_graphite_backend is defined and icinga2_graphite_backend == 'postgresql' %}
tar czf $f $dirs $dest/pgdumpall.sql $dest/mysqldumpall.sql > /dev/null
rm $dest/pgdumpall.sql $dest/mysqldumpall.sql
{% else %}
tar czf $f $dirs $dest/mysqldumpall.sql > /dev/null
rm $dest/mysqldumpall.sql
{% endif %}

## test backup
tar tzf $dest/backup-icinga2.tar.gz > /dev/null
openssl dgst -sha512 $f > $f.distinfo

